@import url('https://fonts.googleapis.com/css?family=Rajdhani:700');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background: #f1f1f5;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}

a:link, a:visited {
  -webkit-text-decoration: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p{
  margin-top: 0;
  margin-bottom: 0;
}

.indent_hidden {
  display: none;
}
.discount_info {
  display: none;
}

.percent {
  font-size: 10px;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(0,0,0,.2)
}